@font-face {
    font-family: 'Endor';
    src: url('../Resources/Fonts/ENDOR___.ttf')
}

*::-webkit-scrollbar {
    width: 0 !important 
}

body {
    margin: 0;
    background-color: #000000;
}

#root {
    padding:5px
}

.content {
    height: 100vh;
}

.navbar {
    display:flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #c8c8c8;
    margin-bottom: 5px;
    font-family: 'Endor';
    min-width: 860px;
}

.navbar div {
    margin: auto
}

.navbar div a {
    text-decoration: none;
    color: #c8c8c8;
    font-size: 1.1em;
    text-shadow: 2px 2px #ffffff2e;
}