@font-face {
    font-family: 'Endor';
    src: url('../Resources/Fonts/ENDOR___.ttf')
}

@font-face {
    font-family: 'Chancery';
    src: url('../Resources/Fonts/BLKCHCRY.TTF')
}

@keyframes fadeInFirst {
    0% {opacity: 0}
    20% {opacity: 0}
    80% {opacity: 1}
    100%{opacity: 1}
}

@keyframes fadeInSecond { 
    0% {opacity: 0}
    20% {opacity: 0}
    40% {opacity: 0}
    100% {opacity: 1}
}

:root {
    --very-friendly: green;
    --friendly: #71c307;
    --neutral: #e1db00;
    --unfriendly: #c98d04;
    --hostile: #c92004;
}

li.very-friendly {
    color: var(--very-friendly)
}
li.friendly {
    color:var(--friendly)
}
li.neutral {
    color:var(--neutral)
}
li.unfriendly {
    color:var(--unfriendly)
}
li.hostile {
    color:var(--hostile)
}

.first_span {
    animation: fadeInFirst ease 3s;
}

.second_span {
    animation: fadeInSecond ease 3s;
}

.home_page_div {
    padding-left:20px;
    padding-right:20px;
    width: calc(100% - 20px);
    height: 100%;
    display:flex
}

.welcome {
    height: 120px;
    width:100%;
}

.details {
    width:100%;
    height: calc(100% - 120px);
    animation: fadeInFirst ease 15s;
    overflow: hidden;
    display:flex;
}

.home_left_block {
    width: 860px;
    min-width: 860px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Chancery;
    font-weight: 100;
    color: #dfd6cd;
    font-size:90px;
    position: absolute;
    text-shadow: 5px 5px #ffffff12;
    margin: 0;
    margin-top: 15px;
    animation: type 4s steps(60, end); 
    white-space: nowrap;
    overflow: hidden;
}

div.image_center {
    margin: auto
}

img.hearth {
    width:auto;
    height:100%;
}

.home_right_block {
    flex-grow:1;
    height:100%;
    border-left: 1px solid #ffffff2e;
    padding:5px;
    margin-left: 15px;
    animation: fadeInSecond ease 4s;
    overflow-y: hidden;
}

.accordion {
    height: 100%;
    width: 100%;
}

.accordion div.cell {
    height: calc(20% - 22.5px);
    padding: 10px
}

.accordion div.cell:hover {
    background-color: #050505;
}

div.cell h2 {
    font-family: Chancery;
    font-weight: 100;
    color: #dfd6cd;
    font-size:40px;
    margin:0;
}

div.cell {
    font-family: Chancery;
    font-weight: 100;
    color: #dfd6cd;
    overflow-y: hidden;
    transition: height 1s;
    border-bottom:1px solid #dfd6cd;
}

div.cell div {
    opacity:0.3;
    transition: opacity 1s, height 1s;
    pointer-events: none;
}

div.cell.selected {
    height:calc(100% - 90px);
    overflow-y: scroll;
}

div.cell.selected div {
    opacity: 1;
    pointer-events: auto;
}

div.cell.selected div.schedule_div {
    height:90%;
}

div.cell.unselected {
    height:0%
}

div.cell div a,p {
    font-size:1.4em;
    color: #dfd6cd
}

div.cell div p {
    margin-top: 15px;
    margin-bottom: 15px;
}

div.divider {
    height: 0%;
    width: 100%;
    border-bottom: 1px solid #ffffff1c;
    margin-top: 5px;
    margin-bottom: 5px;
}

.encyclopedia_div {
    display: flex;
}

.encyclopedia_div div {
    width: 45%;
    height: 95%;
    margin-left:5%
}

.encyclopedia_div div ul {
    padding-left: 15px;
}

.encyclopedia_div div ul li {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.encyclopedia_div div h3 {
    font-size: 1.7em;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
}

@media only screen and (max-width: 1380px){
    .encyclopedia_div {
        flex-direction: column;
    }
    .encyclopedia_div div {
        width: 100%;
    }
}

@media only screen and (max-width: 1050px){
    .home_right_block {
        display:none;
    }
}