@keyframes fadeIn {
    0% {opacity:0%}
    100% {opacity:100%}
}

@font-face {
    font-family: 'Endor';
    src: url('../Resources/Fonts/ENDOR___.ttf')
}

@font-face {
    font-family: 'Chancery';
    src: url('../Resources/Fonts/BLKCHCRY.TTF')
}

.sheet_button span {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.sheet_button:focus {
    outline: none;
    box-shadow: none;
  }

.sheet_button {
    font-family: fantasy;
    font-size:1.5em;
    width:50px;
    position: relative;
    left:50px;
    background-color: #0f0f0f;
    color: #c8c8c8;
    border: none;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
}

.iframe_div {
    width: 70%;
    height: 100%;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    position: absolute;
    display:flex;
    left:0%;
    transition: left 1.5s;
    animation: fadeIn ease 1s;
    background-color: white;
}

.iframe_div.hidden {
    left:-70%;
}

iframe {
    width: 100%;
    height: 100%;
    border:none;
}

.player_page_content {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    font-family: Chancery;
    color:#c8c8c8;
}

.toolkit_container {
    width:calc(30% - 85px);
    padding:15px;
    height:calc(100% - 30px);
    border-right: 1px solid #ffffff40;
    position:absolute;
    left:calc(0% + 50px);
    transition: left 1.5s;
    animation: fadeIn ease 1.5s;
    display:flex;
    flex-direction: column;
    overflow-y:scroll;
}

.toolkit_container.moved {
    left:calc(70% + 50px);
}

.toolkit_container h2 {
    margin:0;
}

.player_die_container {
    flex-grow: 1;
}

@media only screen and (max-width:800px){
    .toolkit_container {
        display:none;
    }
}

.history p {
    margin:0;
    margin-top:10px
}