@keyframes fadeIn {
    0% {opacity:0%}
    100% {opacity:100%}
}

@font-face {
    font-family: 'Endor';
    src: url('../Resources/Fonts/ENDOR___.ttf')
}

@font-face {
    font-family: 'Chancery';
    src: url('../Resources/Fonts/BLKCHCRY.TTF')
}

.sheet_button span {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.sheet_button:focus {
    outline: none;
    box-shadow: none;
  }

.sheet_button {
    font-family: fantasy;
    font-size:1.5em;
    width:50px;
    position: relative;
    left:50px;
    background-color: #0f0f0f;
    color: #c8c8c8;
    border: none;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
}

.iframe_div {
    width: 70%;
    height: 100%;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    position: absolute;
    display:flex;
    left:0%;
    transition: left 1.5s;
    animation: fadeIn ease 1s;
    background-color: white;
    z-index: 1;
}

.iframe_div.hidden {
    left:-70%;
}

iframe {
    width: 100%;
    height: 100%;
    border:none;
}

.player_page_content {
    width: calc(70% - 25px);
    height: 100%;
    margin-left: calc(30%);
    font-family: Chancery;
    color:#c8c8c8;
    padding: 15px;
    animation: fadeIn  ease 2.5s;
    display:flex;
}

.player_page_content div.content_half {
    width:50%;
    height:100%;
    word-wrap: break-word;
}

.player_page_content .content_half h1 {
    width:100%;
}

.player_page_content h1 {
    font-size: 4em;
    margin:0;
}

.toolkit_container {
    width:calc(30% - 85px);
    padding:15px;
    padding-top:0;
    height:calc(100% - 30px);
    border-right: 1px solid #ffffff40;
    position:absolute;
    left:calc(0% + 50px);
    transition: left 1.5s;
    animation: fadeIn ease 1.5s;
    display:flex;
    flex-direction: column;
    background-color: #000000;
    overflow-y:scroll;
}

.toolkit_container.moved {
    left:calc(70% + 50px);
}

.toolkit_container h2 {
    margin:0;
}

.player_die_container {
    flex-grow: 1;
}

@media only screen and (max-width:800px){
    .toolkit_container {
        display:none;
    }
    .player_page_content {
        width: calc(100% - 50px);
        margin-left: 50px;
    }
    .iframe_div {
        width: calc(100% - 50px)
    }
    .iframe_div.hidden {
        left:calc(-100% + 50px);
    }
}

.history p {
    margin:0;
    margin-top:10px
}

.player_description {
    width:100%;
    height: calc(100% - 100px);
    display:flex;
}

.content_half {
    margin-top:90px;
    overflow-y: hidden;
    border-right: 3px solid #ffffff45;
}

.content_half img {
    width:100%;
    height:auto;
}